<h3>Home</h3>
<div class="notice">Welcome!</div>
<div class="alert">My birthday is soon.</div>
<p>Welcome to the home of <%= @owner.name %>.</p>
<p>I was born on <%= @owner.birthdate %>.</p>
<p>Only <%= @owner.countdown %> days until my birthday!</p>